html {
    width: 100%;
}

body {
    overflow-x: hidden;
}

/*This is the animation of MENU codes*/
@keyframes swipe {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}



body span {
    color: #004B40;
}

/*scrollbox-start*/

.scroll-box {
    height: 480px;
    overflow-y: scroll;
    overflow-x: hidden;
}

*::-webkit-scrollbar {
    width: 7px;
}



*::-webkit-scrollbar-thumb {
    background-color: #004B40;
    border-radius: 10px;
}

*::-webkit-scrollbar-track {
    background-color: #FC9928;
    border-radius: 10px;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background-color: white;
}

/*---scroll box end*/


.animation-div {
    position: absolute;
    width: 100%;
    background-color: white;
    display: none;
    z-index: 100;
    animation-name: swipe;
    animation-duration: 1.4s;
}


@media screen and (min-width:850px) {

    .menu li:hover .animation-div {

        display: block;
    }
}


/*------------------------------*/

* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}


.flex {
    display: flex;
    justify-content: space-around;
}


/*This is the header area codes*/
#ten {
    flex: 1;
    font-size: 30px;
    font-weight: bold;
    color: white;
}

header {
    background-color: #006666;
    align-items: center;
}

#search {
    border-radius: 20px;
    padding-left: 10px;
    width: 300px;
    height: 35px;
    border: none;
    opacity: 0.7;
    background-color: white;
}

.search {
    flex: 2;
    justify-content: center;
}


.search-icon-container {
    width: 45px;
}

.search-icon-container img {
    width: 100%;
    opacity: 0.3;
    display: inline-block;
    cursor: pointer;
}

.search-icon-container img:hover {
    opacity: 1;
}

header>div {
    margin: 10px;
}

#logo {
    flex: 0.7;
    margin: 10px;
    width: 250px;
}

#logo img {
    width: 100%;
}

/*-----------------------------------------------*/

/* This is body css codes*/


.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu {
    background-color: white;
    color: #006666;
    font-weight: bolder;
    z-index: 100;
}

.menu a {
    display: block;
    text-decoration: none;
    width: 100%;
    text-align: center;
    padding: 10px 0px;
    color: #006666;
    transition: 0.3s;
    font-size: large;
}

@media screen and (min-width:850px) {
    .menu .menu1 a:hover {
        background-color: #006666;
        color: white;
        justify-content: none;
        padding: 18px 0px;
    }
}

.menu1 {
    display: flex;
}

.menu1>li {
    margin: 0;
    width: 20%;
    position: relative;
}

.main-content {
    position: relative;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

/*---------------------------------------------------*/

/*This is img slide change code*/
.slider {
    width: 100%;
    height: 570px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

.slides {
    width: 500%;
    height: 570px;
    display: flex;
}


.slides input {
    display: none;
}

.slide {
    width: 20%;
    transition: 2s;
    height: 100%;
}

.slide img {
    width: 100%;
    height: 100%;
}

/*css for manual slide navigation*/
.navigation-manual {
    position: absolute;
    width: 100%;
    margin-top: 520px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid #669999;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    transition: 1.0s;
    margin: 2px;
}

.manual-btn:hover {
    background-color: #669999;
}

#radio1:checked~.first {
    margin-left: 0;
}

#radio2:checked~.first {
    margin-left: -20%;
}

#radio3:checked~.first {
    margin-left: -40%;
}

#radio4:checked~.first {
    margin-left: -60%;
}

/*css for automatic navigation*/
.navigation-auto {
    position: absolute;

    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 520px;

}

.navigation-auto div {
    border: 2px solid #669999;
    padding: 5px;
    border-radius: 50%;
    transition: 1.0s;
    margin: 2px;
}

#radio1:checked~.navigation-auto .auto-btn1 {
    background-color: #669999;
}

#radio2:checked~.navigation-auto .auto-btn2 {
    background-color: #669999;
}

#radio3:checked~.navigation-auto .auto-btn3 {
    background-color: #669999;
}

#radio4:checked~.navigation-auto .auto-btn4 {
    background-color: #669999;
}

/*------------automatic end-------------------*/
/*ty le viec lam img codes start*/
.tyle-content {
    text-align: center;
    margin: 20px 0;
}

.title-tyle {
    font-size: 60px;
    color: #004B40;
    font-weight: bold;
    border-bottom: #FC9928 solid 5px;
    max-width: 60%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

.content {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.content img {
    width: 100%;
}

/*ty le viec lam img codes end*/





/*This is footer code*/

.footer {

    padding: 40px;
    align-items: center;
    height: 3 00px;
    color: white;
    justify-content: space-around;
}

.foot-contents3 iframe {
    width: 70%;
    height: 100%;
    opacity: 0.7;
    border-radius: 15px;
    padding: 10px;
}

#email {
    text-decoration: none;
    color: white;
}

#email:hover {
    color: chocolate;
}

footer {
    background-color: #006666;
    font-size: larger;
}

footer>div:last-child {
    color: #006666;

    text-align: center;
}

.foot-contents3 {
    flex: 1;
}

.foot-contents2 {
    flex: 2;
}

.foot-contents1 {
    flex: 2;
}

.footer i {
    border-bottom: #FC9928 solid 3px;
    margin-left: 30%;
    margin-bottom: 20px;
}

/*----------------------------------------------*/


/*=================================RESPONSIVE FOR SMALL LAPTOP===================================*/
@media screen and (max-width:1200px) {

    .menu1 a {
        font-size: 14px;
    }

    .main-content {
        width: 95%;
    }

    .slider {
        height: 370px;
    }

    .slides {
        height: 100%;
    }

    .navigation-manual {
        margin-top: 330px;
    }

    .navigation-auto {
        margin-top: 330px;
    }

    .footer {
        font-size: 13px;

    }

    .footer .foot-contents3 {
        flex: 2;
    }

    .content {
        width: 90%;
    }

    .content img {
        width: 100%;
    }
}


/*=====================================RESPONSIVE FOR TABLET====================*/
@media screen and (max-width:850px) {

    #ten {
        font-size: 25px;
    }

    .title-tyle {
        font-size: 35px;
    }

    /*responsive for tablet menu*/
    .main-content {
        width: 100%;
    }

    .menu1 a {
        padding-top: 5px;
        padding-bottom: 5px;
        cursor: pointer;
    }

    .menu1 {
        position: fixed;
        flex-direction: column;
        width: 50%;
        top: 0px;
        z-index: 100;
        left: -60%;
        transition: 0.4s;
    }

    .menu1 li {
        width: 100%;
        background-color: #FC9928;

    }

    .menu1>li>a {
        text-align: left;
        padding-left: 10px;
        padding-bottom: 10px;
    }

    .list li a {
        text-align: left;
        padding-left: 30px;
        color: #053737;
    }

    #closed-btn {
        background-color: #FC9928;
        color: #004B40;
        border: 0;
        font-size: 30px;
        cursor: pointer;
    }

    #open-btn {
        position: fixed;
        z-index: 99;
        top: 20px;
        padding: 10px;
        background-color: #db7705;
        border: #004B40;
        font-size: 30px;
        font-weight: bolder;
        cursor: pointer;
    }
}




/*=======================RESPONSIVE FOR MOBILE==============*/
/*an cac nut khong can thiet cho man hinh lon*/
@media screen and (min-width:850px) {
    #closed-btn {
        display: none;
    }

    #open-btn {
        display: none;
    }

    #PullupList {
        display: none;
    }

    #PullupInfo {
        display: none;
    }
}

/*============================================*/
@media screen and (max-width:450px) {
    #ten {
        flex: 1;
        font-size: 30px;
        font-weight: bold;
        color: white;
    }

    header {
        flex-direction: column;
        background-color: #006666;
        align-items: center;
    }

    #logo {
        flex: 0.7;
        margin: 10px;
        width: 150px;
    }


    /*---scroll box start*/
    .scroll-box {
        height: 480px;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    body {
        overflow-x: hidden;
    }

    *::-webkit-scrollbar {
        width: 7px;
    }



    *::-webkit-scrollbar-thumb {
        background-color: #004B40;
        border-radius: 10px;
    }

    *::-webkit-scrollbar-track {
        background-color: #FC9928;
        border-radius: 10px;
    }

    body::-webkit-scrollbar {
        width: 5px;
    }

    body::-webkit-scrollbar-track {
        background-color: white;
    }

    /*------------Menu responsive for mobile end*/

    .main-content {
        width: 100%;
    }

    .menu1 a {
        padding-top: 5px;
        padding-bottom: 5px;
        cursor: pointer;
        font-size: 15px;
    }

    .menu1 {
        position: fixed;
        flex-direction: column;
        width: 60%;
        top: 0px;
        z-index: 100;
        left: -60%;
        transition: 0.4s;
    }

    .menu1 li {
        width: 100%;
        background-color: #FC9928;
    }

    .menu1>li>a {
        text-align: left;
        padding-left: 10px;
    }

    .list li a {
        text-align: left;
        padding-left: 30px;
        color: #053737;
    }

    #closed-btn {
        background-color: #FC9928;
        color: #004B40;
        border: 0;
        font-size: 30px;
        cursor: pointer;
    }

    #open-btn {
        position: fixed;
        z-index: 99;
        top: 20px;
        padding: 10px;
        background-color: #db7705;
        border: #004B40;
        font-size: 30px;
        font-weight: bolder;
        cursor: pointer;
    }



    /*------------Menu responsive for mobile end*/


    /*---------------------------------------------------*/

    .slider {
        width: 100%;
        height: 250px;
        overflow: hidden;
        margin-left: auto;
        margin-right: auto;
    }

    .slides {
        width: 500%;
        height: 250px;
        display: flex;
    }


    .slides input {
        display: none;
    }

    .slide {
        width: 20%;
        transition: 2s;
        height: 100%;
    }

    .slide img {
        width: 100%;
        height: 100%;
    }

    /*css for manual slide navigation*/
    .navigation-manual {
        position: absolute;
        width: 100%;
        margin-top: 220px;
        display: flex;
        justify-content: center;
    }



    /*css for automatic navigation*/
    .navigation-auto {
        position: absolute;

        display: flex;
        width: 100%;
        justify-content: center;
        margin-top: 220px;

    }

    /*Body code start*/
    .title-tyle {
        font-size: 30px;
    }

    .tyle-content {
        width: 100%;
    }

    .content {
        width: 95%;
    }


    .main-content {
        width: 100%;
    }

    /*Body code end*/



    /*This is footer code*/

    .footer {
        flex-direction: column;
    }

    .foot-contents3 iframe {
        width: 92%;
    }

    #email {
        text-decoration: none;
        color: white;
    }

    #email:hover {
        color: chocolate;
    }

    footer {
        background-color: #006666;
        font-size: larger;
        font-size: 15px;
    }

    .foot-contents3 {
        flex: 1;
        margin-top: 30px;
    }

    .foot-contents2 {
        flex: 2;
    }

    .foot-contents1 {
        flex: 2;
        margin-bottom: 30px;
    }

    .footer i {
        border-bottom: #FC9928 solid 3px;
        margin-left: 40%;
        margin-bottom: 10px;
    }


    /*----------------------------------------------*/


    /*------------automatic end-------------------*/
}