main {
    width: 95%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.advidsory>p:first-child {
    font-size: 18px;
}



.advidsory {
    text-align: center;
}

.menu1>li {
    flex: 1;
}


.admission-events-area {
    margin: 0 auto;
}

.events-title {
    font-size: 30px;
    border-bottom: #004B40 solid 3px;
    max-width: fit-content;
}

.scroll-box {
    overflow-y: auto;
}

.adms-event .date-square {
    background-color: #004B40;
}

.container .text {
    text-align: left;
    font-size: 16px;
    line-height: 1.3;
    font-weight: 600;
    color: #fff;
}

.container .icon {
    vertical-align: middle;
    width: 100%;
    height: auto;
}

.flex {
    display: flex;
}